
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User List</h2>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Details</th>
    </tr>
    <tr>
        <td>Akbar</td>
        <td><a href="/ActionParameter/Details?id=1">Details</a></td>
    </tr>
    <tr>
        <td>Shajahan</td>
        <td><a href="/ActionParameter/Details?id=2">Details</a></td>
    </tr>
    <tr>
        <td>Anwar</td>
        <td><a href="/ActionParameter/Details?id=3">Details</a></td>
    </tr>
</table>

