
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>

<html>
<head>
    <title>ActionSelector</title>
</head>
<body>
    <h1>Wel Come to MVC Application</h1>
</body>
</html>
