
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<form>
    <label>UserName</label>
    <input type="text" class="form-control" />
    <label>PassWord</label>
    <input type="text" class="form-control" />
    <br />
    <input type="button" class="btn btn-primary" value="index" />
</form>