
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_HrmsAdminMaster.cshtml";
}

<h2>Login</h2>

<html>
<head>
    <title>login</title>
    <script type="text/javascript">
        //function newname() {
        //    var uname = document.getElementById("txtUserName").value;
        //    alert(uname);
        //    return true;
        //}
   
        $("login").click(function () {
            var uname = $("txtUserName").val();
            
            alert("UserName is" + uname);
        });
 </script>

</head>
<body>
    <label> UserName</label>
    <input type="text" name="username" id="txtUserName" class="form-control"  style="background-color:indianred" />
    <label> PassWord</label>
    <input type="password" name="password" id="txtPassword" class="form-control" />
    <input type="submit" name="login" onclick="newname();" class="btn-primary" />
</body>
</html>