
@{
    ViewBag.Title = "ActionParameterLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ActionParameterLogin</h2>
<form method="post" action="/ActionParameterAccount/validate">
    <label> UserName</label>
    <input type="text" name="username" class="form-control" />
    <label> PassWord</label>
    <input type="password" name="password" class="form-control" />
    <input type="submit" name="login" />
</form>
